/*for class */
.background {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    height: 100vh;
    position: absolute;
    width: 100%;
}
/*for id */
#wrong-details-text{
    display: none;
    color: red;
}

#base-form{
    padding: 14px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#other-text{
    display: none;
}

.error-text{
    display: none;
    color: red;
}

.small-text{
    font-size: 13px;
}

.required-field{
    color: red;
}

.user-profile-img{
    width: 48px;
    height: 48px;
}