.background {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    height: 100vh;
    position: absolute;
    width: 100%;
}

#wrong-details-text{
    display: none;
    color: red;
}

#base-form{
    padding: 14px;
}